.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.modal-card {
    position:  relative !important;
    object-fit: contain;
    width: 100vh !important;
    height: 100vh !important;
    max-width: 80vw !important;
    max-height: 80vh !important;
}